.bg-img {
    background-image: url('./../../assets/corporation.jpg');
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 22px; */
}